@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap");

@layer base {
  :root {
    font-family: "Inter", system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#3dbe9e] text-[#ffffff] hover:bg-[#37ab8f] focus:ring-2 focus:ring-[#3dbe9e]/20 transition-all;
  }

  .btn-secondary {
    @apply bg-[#ffc75f] text-[#101828] hover:bg-[#f7bd59] focus:ring-2 focus:ring-[#ffc75f]/20 transition-all;
  }

  .input-primary {
    @apply block w-full rounded-[8px] border-[#d1d5dc] focus:border-[#3dbe9e] focus:ring-[#3dbe9e] 
        font-[14px] leading-[1.4286];
  }
}
